.myform {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f2f2f2;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
.myform label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
  }
  
  .myform  input[type="text"],
  .myform  textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
  }
  
  .myform  input[type="submit"] {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .myform input[type="submit"]:hover {
    background-color: #0062cc;
  }
  
  .error-message {
    color: red;
    margin-bottom: 10px;
  }