#formHolder {
  width: fit-content;
  border-radius: 15px;
}

.regstrationForm .error {
  color: #fc8181;
  font-size: 0.75rem;
  text-align: left;
  margin-top: 0.25rem;
}

.regstrationForm .checkbox {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 1rem;
}

.regstrationForm {
  width: 95%;
  max-width: 400px;
  margin: 0 auto;
}

.regstrationForm form label {
  font-size: 1rem;
  font-weight: bold;
  display: block;
  text-align: left;
  margin: 1rem 0 0.2rem;
}

.regstrationForm input,
.regstrationForm select {
  width: 100%;
  padding: 0.65rem 0.5rem;
  font-size: 1rem;
  border: 2px solid #4e4f50;
  background-color: #ffffff;
  border-radius: 15px;
  outline: none;
}

.regstrationForm input:focus,
.regstrationForm select:focus {
  border-color: #4299e1;
}

.regstrationForm input::placeholder,
.regstrationForm select::placeholder {
  color: #a0aec0;
}

.regstrationForm input[type="checkbox"] {
  width: fit-content;
  margin-right: 0.5rem;
  transform: scale(1.25);
}

.regstrationForm button {
  display: block;
  margin: 1rem 0;
  padding: 0.35rem 0.5rem;
  background-color: #4299e1;
  color: #1a202c;
  border: none;
  border-radius: 15px;
  width: 100%;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
}

.regstrationForm input.input-error,
.regstrationForm select.input-error {
  border-color: #fc8181;
}

.regstrationForm button:disabled {
  opacity: 0.35;
}
